/* Index page */
.container-index {
    height: 200px;
}
.main-index {
    display: flex;
    width: 90%;
    margin-left: 5%;
    justify-content: space-between;
    padding: 125px;
    position: absolute;
}

.topia {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    padding-right: 50px;
    color: aqua;
    font-size: small;
}

.triangulo {
    text-decoration: none;
    width: 0;
    height: 0;
    border-left: 4.688rem solid transparent;
    border-right: 4.688rem solid transparent;
    border-bottom: 6.563rem solid rgba(0, 0, 0, 0.575);
}

.triangulo:hover {
    transition: 10s;
    transform: scale(3, -3);
    transition-delay: -1s;
}

.centered {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
.sargento {
    margin-bottom: 50px;
}
.hide {
    display: none;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.548);
    border: rgba(177, 32, 32, 0.2);
}
.sargento:hover {
    background-color: orange;
    border-radius: 50%;
}
.sargento:hover + .hide {
    display: block;
}

/* Challenge page */
h1 {
    text-align: center;
    color: azure;
}
h2 {
    color: whitesmoke;
    text-align: center;
    // text-decoration-line: overline;
}
h3 {
    text-align: center;
    color: antiquewhite;
    font-style: oblique;
}
h4 {
    color: aqua;
    text-align: center;
    padding-bottom: 10px;
    // text-decoration: underline;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.rectangle {
    background-color: rgba(250, 235, 215, 0.281);
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 90%;
    max-width: 300px;
    margin: auto;
    margin-top: 50px;
    padding: 2%;
    border-radius: 5%;
}

.grids {
    margin: auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.topia-cards {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    justify-self: center;
}
.card-img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.topia-cards:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    -webkit-animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
    animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
    animation-delay: 0.3s;
}

@-webkit-keyframes rotate-vert-center {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}
@keyframes rotate-vert-center {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}
// Your NFT page

.rectangle-nft {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
    padding: 2%;
}
.grids-nft {
    margin: auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}
.nft-cards {
    background: linear-gradient(rgba(255, 255, 255, 0.644), rgba(0, 255, 255, 0.329));
    height: 150px;
    width: 100px;
}
.nft-cards:hover {
    transition: 5s;
    box-shadow: inset 0 0 100px 100px rgb(184, 245, 247);
}

// Create Path page

.form-path {
    display: flex;
    flex-direction: column;
}

.write-path {
    width: 50%;
    height: 500px;
    display: flex;
    margin: auto;
    margin-top: 40px;
}
.submit {
    width: 75px;
    background-color: beige;
    padding: 10px;
    border-radius: 10%;
    align-self: center;
}

// Download page

.dl-flex {
    display: flex;
    justify-content: center;
}

.download-button {
    padding: 25px;
}
