@media (max-width: 730px) {
  .main-index {
    margin-top: 100px;
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 0px;
  }
  .sargento {
    margin: 0px;
  }
}

@media (max-width: 580px) {
  .rank {
    display: none;
  }
}
